<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Liên hệ</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Địa chỉ: 102 hùng vương, phường An Mỹ, TP Tam kỳ, Quảng nam</a></li>
                <li><a class="footer-link" href="#">Điện thoại: 0347486232</a></li>
                <li><a class="footer-link" href="#">Email: caonguyen456@gmail.com</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Danh mục</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="http://127.0.0.1:8000/necklaces/">Dây chuyền</a></li>
                <li><a class="footer-link" href="http://127.0.0.1:8000/bracelets/">Vòng tay</a></li>
                <li><a class="footer-link" href="http://127.0.0.1:8000/watches/">Đồng hồ</a></li>
                <li><a class="footer-link" href="http://127.0.0.1:8000/rings/">Nhẫn</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Mục lục</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="{% url 'store:home' %}">Trang chủ</a></li>
                <li><a class="footer-link" href="{% url 'store:blog' %}">Tin tức</a></li>
                <li><a class="footer-link" href="{% url 'store:contact' %}">Liên hệ</a></li>
                <li><a class="footer-link" href="{% url 'store:cart' %}">Giỏ hàng</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2022 design by Cao Ngoc Nguyen.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>